@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto|Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    /* border: 1px dashed black; */
}
body {
    /* margin: 0 auto; */
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

/* ANIMATE CSS BACKGROUNG  */
.bge {
    animation:slide 25s ease-in-out infinite alternate;
    background-image: linear-gradient(-75deg, rgb(108, 130, 145) 50%, rgb(35, 75, 107) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  .bge2 {
    animation-direction:alternate-reverse;
    animation-duration:22s;
  }
  .bge3 {
    animation-duration:15s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
/* BOX SHADOW */
main,
#sticky,
nav {
    box-shadow: 5px 5px 5px lightslategrey;
}
/* FONT & DECORATION*/
body {
    font-family: 'Righteous', cursive;
}
p {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3 {
    color: #673b0d
}
/* ASIDE */
aside {
    width: 20%;
    -webkit-box-flex: 1;
            flex: 1 1 200px;
}
#sticky {
    margin: 1em;
    padding: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    background: whitesmoke;
    -webkit-border-top-left-radius: 150px;
    -webkit-border-bottom-right-radius: 150px;
    -moz-border-radius-topleft: 150px;
    -moz-border-radius-bottomright: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    color: #07161b;
}
.me {
    text-align: center;
    width: 50%;
    margin: auto;
}
.me img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}
/* MAIN */
main {
    background: whitesmoke;
    margin: 1em;
    width: 80%;
    -webkit-box-flex: 3;
            flex: 3 3 600px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
}
main h1 {
    margin: 2em 0;
    text-align: center;
}
.A {
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 0 1rem;
}
section {
    width: 100%;
    padding: .5em;
    margin: 1em 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
/* MAIN INDEX.HMTL */
.intro {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2dae9), to(#bcbec5));
    background: linear-gradient(#b2dae9, #bcbec5);
    width: 95%;
    -webkit-border-top-left-radius: 150px;
    -webkit-border-bottom-right-radius: 150px;
    -moz-border-radius-topleft: 150px;
    -moz-border-radius-bottomright: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
#tete {
    height: 200px;
    width: 200px;
    margin-bottom: 5em;
    border-radius: 50%;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    background: url(../images/me.png) no-repeat;
    background-color: whitesmoke;
}
#anim {
    border-radius: 20%;
    background-image: url(../images/bulle.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#tete:hover {
    box-shadow:
        1px 1px lightslategrey,
        2px 2px lightslategrey,
        3px 3px lightslategrey;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#tete:hover #anim {
    opacity: 1;
    cursor: default;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

#cv {
    margin: 1em;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-self: flex-end;
    padding: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2dae9), color-stop(#dbecf1), to(#b2dae9));
    background: linear-gradient(#b2dae9, #dbecf1, #b2dae9);
    box-shadow: 2px 2px 2px lightslategrey;
}
#cv a {
    color: #673b0d;
}
.container {
    margin: 2em auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
            flex: 1 1 200px;
    width: 100%;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
}
.bg {
    background-color: rgba(117, 139, 154, 0.63);
}
.child1 {
    display: -webkit-box;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
            flex: 1 1 200px;
}
.child1 img {
    height: 80%;
}
.child2 {
    width: 50%;
    padding: 1rem;
    -webkit-box-flex: 1;
            flex: 1 1 200px;
}
.childa {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    border-top: 5px solid #b2dae9;
    background-color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 1;
            flex: 1 1 200px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.childa:hover {
    -webkit-transform: translateY(-5px) translateX(-5px);
            transform: translateY(-5px) translateX(-5px);
    box-shadow: 5px 5px 2px 0px rgba(178, 218, 233, 1);
    border: 0px;
}
.childa img {
    max-width: 197px;
    max-height: 50px;
    margin-bottom: 1em;
}
#diplome {
    display: -webkit-box;
    display: flex;
    margin: 1rem auto;
    width: 45%;
    height: 500px;
    background-image: url(../images/fleche.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.G {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 50%;
    height: 100%;
}
.D {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.figdiplome {
    text-align: center;
    margin: 0;
    display: inline-block;
}
.content {
    opacity: 0;
}
.figdiplome:hover .content {
    opacity: 1;
}
.G img {
    height: 90px;
}
.D img {
    height: 90px;
}
.bgVideo {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.bgVideo video {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.bgColor {
    z-index: 10;
    position: absolute;
    background-color: rgba(33, 71, 107, 0.3);
    width: 100%;
    height: 100%;
}
.bgColor:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.hobbies {
    text-align: center;
    display: -webkit-box;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
}
.hobbies p {
    padding: 1em;
}
.hobbies img {
    margin: 1em;
}
/* MAIN FOLIO.HMTL */
#setup {
    height: 200px;
    width: 200px;
    margin-bottom: 5em;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #b2dae9;
    background-image: url(../images/idea.svg);
    background-size: cover;
    background-position: center;
}
#setup:hover {
    background-image: url(../images/idea2.svg);
    background-size: cover;
    background-position: center;
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(116, 116, 116);
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.captext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
figure {
    text-align: center;
}
.gridcontainer {
    display: grid;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2dae9), to(#aeb0b8));
    background: linear-gradient(#b2dae9, #aeb0b8);
    grid-template-areas: "img1 img1 img2 img2 img3"
        "img1 img1 title title img3"
        "img4 img5 img5 img6 img7"
        "img4 desc desc img6 img10"
        "img8 img8 img9 img9 img10";
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(5, 20%);
}
.grid-div1 img,
.grid-div2 img,
.grid-div3 img,
.grid-div4 img,
.grid-div5 img,
.grid-div6 img,
.grid-div7 img,
.grid-div8 img,
.grid-div9 img,
.grid-div10 img {
    opacity: .2;
    -webkit-transition: all .8s;
    transition: all .8s;
}
.grid-div11 h3,
.grid-div12 h3 {
    margin: .5rem 1rem;
}
.grid-div1,
.grid-div2,
.grid-div3,
.grid-div4,
.grid-div5,
.grid-div6,
.grid-div7,
.grid-div8,
.grid-div9,
.grid-div10 {
    background-color: rgba(0, 0, 0, 0.6);
}
.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
    display: none;
    margin: .5rem;
}
.grid-div1 {
    grid-area: img1;
}
.grid-div1:hover img {
    opacity: 1;
}
.grid-div1:hover~.grid-div11 .project4 {
    display: block;
}
.grid-div1:hover~.grid-div12 .project4 {
    display: block;
}
.grid-div2 {
    grid-area: img2;
}
.grid-div2:hover img {
    opacity: 1;
}
.grid-div2:hover~.grid-div11 .project1 {
    display: block;
}
.grid-div2:hover~.grid-div12 .project1 {
    display: block;
}
.grid-div3 {
    grid-area: img3;
}
.grid-div3:hover img {
    opacity: 1;
}
.grid-div3:hover~.grid-div11 .project3 {
    display: block;
}
.grid-div3:hover~.grid-div12 .project3 {
    display: block;
}
.grid-div4 {
    grid-area: img4;
}
.grid-div4:hover img {
    opacity: 1;
}
.grid-div4:hover~.grid-div11 .project3 {
    display: block;
}
.grid-div4:hover~.grid-div12 .project3 {
    display: block;
}
.grid-div5 {
    grid-area: img5;
}
.grid-div5:hover img {
    opacity: 1;
}
.grid-div5:hover~.grid-div11 .project5 {
    display: block;
}
.grid-div5:hover~.grid-div12 .project5 {
    display: block;
}
.grid-div6 {
    grid-area: img6;
}
.grid-div6:hover img {
    opacity: 1;
}
.grid-div6:hover~.grid-div11 .project1 {
    display: block;
}
.grid-div6:hover~.grid-div12 .project1 {
    display: block;
}
.grid-div7 {
    grid-area: img7;
}
.grid-div7:hover img {
    opacity: 1;
}
.grid-div7:hover~.grid-div11 .project6 {
    display: block;
}
.grid-div7:hover~.grid-div12 .project6 {
    display: block;
}
.grid-div8 {
    grid-area: img8;
}
.grid-div8:hover img {
    opacity: 1;
}
.grid-div8:hover~.grid-div11 .project2 {
    display: block;
}
.grid-div8:hover~.grid-div12 .project2 {
    display: block;
}
.grid-div9 {
    grid-area: img9;
}
.grid-div9:hover img {
    opacity: 1;
}
.grid-div9:hover~.grid-div11 .project4 {
    display: block;
}
.grid-div9:hover~.grid-div12 .project4 {
    display: block;
}
.grid-div10 {
    grid-area: img10;
}
.grid-div10:hover img {
    opacity: 1;
}
.grid-div10:hover~.grid-div11 .project1 {
    display: block;
}
.grid-div10:hover~.grid-div12 .project1 {
    display: block;
}
.grid-div11 {
    grid-area: title;
}
.grid-div12 {
    grid-area: desc;
}
.gridcontainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
/* MAIN A PROPOS */
.underconstruc {
    height: 150px;
    width: 150px;
    animation-name: testanim2;
    animation-duration:  .5s;
    animation-delay: 4s;
}
.underconstruc div {
    background-color: chocolate;
    border-radius: 40%;
    height: 100%;
    width: 100%;
    animation-name: testanim;
    animation-duration: 20s;
    animation-delay: 0s;
}
@keyframes testanim {
    from {
        transform: rotate(1turn);
    }
    to {
        transform: rotate(60turn);
    }
}
@keyframes testanim2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(800px);
    }
}
/* NAV */
nav {
    /* z-index pour repasser devant #anim en absolute */
    margin-top: 1em;
    z-index: 10;
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgb(48, 48, 48);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 95%;
    height: 50px;
    -webkit-box-align: center;
            align-items: center;
}
nav a {
    padding: .5em 1.5em;
    color: lightsteelblue;
    border-radius: 20%;
}
nav a:hover {
    background-color: lightslategrey;
}
/* @MEDIA QUERIES */
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .captext {
        font-size: 11px
    }
}
@media screen and (max-height: 700px) {
    #sticky {
        top: 60px;
        font-size: .8rem;
    }
}
@media screen and (max-width: 1040px) {
    body {
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
    .hobbies {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    .hobbies img {
        width: 30%;
    }
}
@media screen and (max-width: 750px) {
    .gridcontainer {
        grid-template-areas:    "img1 img1 img2 img2"
                                "img3 img3 img4 img4"
                                "title title title title"
                                "img5 img5 img6 img6"
                                "desc desc desc desc"
                                "img7 img7 img8 img8"
                                "img9 img9 img10 img10";
        grid-template-rows: repeat(7, 120px);
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 700px) {
    .w1 img {
        width: 70%;
    }
    #diplome {
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .childa img {
        max-width: 98px;
        max-height: 25px;
        margin-bottom: 1em;
    }
    .G img {
        height: 70px;
    }
    .D img {
        height: 70px;
    }
}
@media screen and (max-width: 365px) {
    nav a {
        padding: .5em;
    }
    #diplome {
        width: 100%;
    }
    .G img {
        height: 50px;
    }
    .D img {
        height: 50px;
    }
}