html {
  height:100%;
}

body {
  margin:0;
}

.bge {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(87, 85, 238) 50%, rgba(255, 0, 0, 0) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bge2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bge3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}